@import '../styles/colors';
@import '../styles/styles';
// @import '../styles/PassageList';
// @import '../styles/PassageForm.scss';
// @import '../styles/SheetViewer.scss';
// @import '../styles/NotifyModal.scss';
// @import '../styles/InfoArea.scss';
@import '../node_modules/chord-mark-themes/scss/themes/dark1.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

body {
  color: $text-label;
  background-color: $bg;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    // color-scheme: dark;
  }
}
