.viewer {
    position: relative;
    width: 45vw;
    height: 90vh;
    overflow-y: scroll;
}

.button {
    padding: 0.7rem 0.5rem;
    margin: 0.5rem 0.5rem;
    position: relative;
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    transition: all 0.1s;
}

.button--square {
    width: 2vw;
    height: 2vw;
}

.button--color-orange {
    background-color: $icon-controls;
    &:hover {
        background-color: $icon-controls-hilight;
    }
}

.button--fixed {
    position: absolute;
    z-index: 2;
}

.passageList {
    position: relative;
    width: 50vw;
    height: 10vh;
    background-color: $bg-light;
    display: flex;
    flex-direction: row;
}

.list {
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    font-size: 1rem;
}

.controls {
    display: inherit;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    min-width: 20%;
}

.list-item {
    width: auto;
    height: auto;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    background-color: $bg;
    color: lightblue;
    &:hover {
        background-color: $bg-hilight;
    }
}

.list-item--active {
    width: auto;
    height: auto;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    background-color: lightblue;
    color: $text-active;
    font-weight: 200;
}

.songTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    min-height: 10vh;
    h2 {
        font-weight: 200;
    }
    h3 {
        font-weight: 200;
    }
}

.form {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    width: 25vw;
    color: $text-label;
}
.radio-input {
    display: flex;
    flex-wrap: wrap;
}

.form__label {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
.form__span {
    margin: 1rem 1rem 0.25rem 0.25rem;
}

input[type=text] {
    color: lightblue;
    width: 100%;
    background-color: $bg-light;
    border: none;
    height: 1.5rem;
    border-color: $bg;
}

input[type=text]:focus-visible {
    border: inset;
    border-width: 1px;
    outline: none;
    border-color: $bg-hilight;
}

textarea {
    width: 100%;
    height: 10rem;
    background-color: $bg-light;
    color: lightblue;
    border-color: $bg;
    resize: none;
}

select {
    height: 1.75rem;
    background-color: $bg-light;
    border-width: 1px;
    border-color: $bg;
    color: lightblue;
}

select:focus-visible {
    outline: none;
    border-width: 1px;
    border-color: $bg-hilight;
}
.lyrics {
    height: 15rem;
    resize: vertical;
}

textarea:focus-visible {
    outline: none;
    border: inset;
    border-width: 1px;
    border-color: $bg-hilight;
}

.notifyModalContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: $bg-trans;
}

.notifyModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    position: relative;
    width: 50%;
    height: 50%;
    font-size: 2rem;
    background-color: $bg-hilight;
}

.notifyModal__button {
    font-size: 2rem;
    padding: 1rem;
    background-color: $icon-controls;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: black;
    transition: all 0.1s;
    &:hover {
        background-color: $icon-controls-hilight;
    }
}

.infoArea {
    position: relative;
    width: 50%;
    text-align: center;
    padding-top: 1rem;
    h2 {
        font-weight: 200;
    }
    h3 {
        margin-top: 2rem;
        font-weight: 100;
    }
    h4 {
        font-weight: 100;
        margin-top: 1rem;
    }
    p {
        margin-top: 2rem;
        margin-left: 2rem;
        text-align: left;
    }

    a {
        color: wheat;
        text-decoration:underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
    }
    ul {
        margin-top: 1rem;
        text-align: left;
        padding-left: 2rem;
        font-size: 0.85rem;
    }
}

@media (max-width: 1136px) {
    
    .react-tabs__tab-list {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .react-tabs__tab {
        width: 33%;
        height: 10vh;
        text-align: center;
        padding-top: 1rem;
        font-size: 1.5rem;
        list-style-type: none;
    }

    .react-tabs__tab--selected {
        background-color: $bg-light;
    }

    .viewer {
        width: 95vw;
    }

    .passageList {
        width: 95vw;
        height: 90vh;
        flex-direction: column;
    }

    .list {
        flex-direction: column;
        overflow-x: visible;
        overflow-y: hidden;
    }

    .list-item {
        font-size: 1.75rem;
    }

    .list-item--active {
        font-size: 1.75rem;
    }

    .controls {
        flex-direction: row;
        justify-content: space-around;
    }

    .form {
        width: 95vw;
        font-size: 1.2rem;
    }

    .button--square {
        width: 10vw;
        height: 10vw;
    }

    .lyrics{
        height: 12rem;
    }
}