@page {size: A4; margin: 1cm, 1.5cm }

.songTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
  min-height: 10vh;
}
.songTitle h2 {
  font-weight: 200;
}
.songTitle h3 {
  font-weight: 200;
}

.cmSong--fontSize-5 .cmLine {
  font-size: 0.5em;
  line-height: 1.15em;
}
.cmSong--fontSize-4 .cmLine {
  font-size: 0.6em;
  line-height: 1.25em;
}
.cmSong--fontSize-3 .cmLine {
  font-size: 0.7em;
  line-height: 1.35em;
}
.cmSong--fontSize-2 .cmLine {
  font-size: 0.8em;
  line-height: 1.45em;
}
.cmSong--fontSize-1 .cmLine {
  font-size: 0.9em;
  line-height: 1.55em;
}
.cmSong--fontSize1 .cmLine {
  font-size: 1.1em;
  line-height: 1.75em;
}
.cmSong--fontSize2 .cmLine {
  font-size: 1.2em;
  line-height: 1.85em;
}
.cmSong--fontSize3 .cmLine {
  font-size: 1.3em;
  line-height: 1.95em;
}
.cmSong--fontSize4 .cmLine {
  font-size: 1.4em;
  line-height: 2.05em;
}
.cmSong--fontSize5 .cmLine {
  font-size: 1.5em;
  line-height: 2.15em;
}

.cmChordLyricLine {
  display: flex;
  flex-wrap: wrap;
}
.cmChordLyricLine .cmChordLyricPair {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.cmChordLyricLine .cmChordLyricPair .cmChordLine,
.cmChordLyricLine .cmChordLyricPair .cmLyricLine {
  flex: 0 0 auto;
  white-space: pre;
}

.cmTheme-dark1 {
  background-color: rgb(244, 244, 244);
}
.cmTheme-dark1 .cmSong {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 13px;
  line-height: 1.65em;
  padding: 10px;
  white-space: pre-wrap;
  color: rgb(41, 49, 50);
}
.cmTheme-dark1 .cmSong p {
  margin: 0;
}
.cmTheme-dark1 .cmSectionLabel {
  color: rgb(28, 98, 126);
  font-weight: bold;
}
.cmTheme-dark1 .cmSectionMultiplier {
  color: rgb(100, 50, 108);
}
.cmTheme-dark1 .cmTimeSignature {
  color: rgb(56, 87, 40);
  font-weight: bold;
}
.cmTheme-dark1 .cmKeyDeclaration {
  color: rgb(69, 107, 50);
  font-weight: bold;
}
.cmTheme-dark1 .cmChordLine {
  color: rgb(119, 91, 21);
}
.cmTheme-dark1 .cmBarSeparator {
  opacity: 0.5;
}
.cmTheme-dark1 .cmChordDuration {
  opacity: 0.7;
}
.cmTheme-dark1 .cmSubBeatGroupOpener,
.cmTheme-dark1 .cmSubBeatGroupCloser {
  opacity: 0.8;
  font-weight: bold;
}
.cmTheme-dark1 .cmChordLine-romanNumeral,
.cmTheme-dark1 .cmRomanNumeral {
  color: rgb(99, 76, 20);
}
.cmTheme-dark1 .cmRomanNumeral-diatonic {
  font-weight: bold;
  color: rgb(48, 56, 70);
  background-color: rgb(250, 191, 43);
}
.cmTheme-dark1 .cmRomanNumeral-borrowed {
  color: rgb(48, 56, 70);
  background-color: rgba(250, 191, 43, 0.7);
}
.cmTheme-dark1 .cmRomanNumeral-unknown {
  opacity: 0.8;
}

/*# sourceMappingURL=song_sheet.css.map */
